<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Permitir archivos y directorios reales
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Resto de solicitudes van a index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
